section.Sec1{background-color: #F0E68C; visibility: hidden; width: 600px;
            position: absolute; left: 0px; width: 600px;}

section.Sec2{background-color:	#7FFFD4; visibility: hidden;
            position: absolute;  left: 0px; width: 600px;}
            
#foot {position: absolute; left: 0px; bottom: : 0px;}





